body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
  margin: 20px auto;
}
.square-big {
  padding: 5rem;
  width: 5rem;
  background: #5f9ea0;
}
.square-less {
  padding: 4rem;
  width: 5rem;
  background: darkseagreen;
}
.square-small {
  padding: 3rem;
  width: 5rem;
  background: lightgreen;
}